{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

<hr>
<h2 class="home-text logo-font mb-4">{% trans "Сброс пароля" %}</h2>
<hr>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Забыли ваш пароль? Введите ваш email в форму ниже, и мы вышлем вам ссылку для сброса пароля." %}
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="home-text btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Назад</a>
    <input type="submit" value="{% trans 'Сброс пароля' %}" />
</form>

<p>{% blocktrans %}Пожалуйста сообщите нам если у вас возникли проблемы со сбросом пароля.{% endblocktrans %}</p>
{% endblock %}
