{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Пароль сброшен" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="home-text logo-font mb-4">{% trans "Сброс пароля" %}</h2>
<hr>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% blocktrans %}Ссылка на сброс пароля была отправлена на ваш email. Пожалуйста свяжитесь с нами если вы не получили ссылку на сброс в течении нескольких минут.{% endblocktrans %}</p>
{% endblock %}
