{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтвердите вашу электронную почту" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="home-text logo-font mb-4">{% trans "Подтвердите вашу электронную почту" %}</h2>
<hr>

<p>{% blocktrans %}Мы отправили вам ссылку для подтверждения вашего аккаунта. Пожалуйста перейдите перейдите по ссылке на вашей почте. Пожалуйста сообщите нам если письмо не пришло в течении нескольких минут.{% endblocktrans %}</p>

{% endblock %}
