{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтверждение вашего электронного адреса" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="home-text logo-font mb-4">{% trans "Подтверждение вашего электронного адреса" %}</h2>
<hr>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Эта часть сайта требует от вас подтверждения того, что
вы тот, за кого себя выдаете. Для этой цели мы требуем, чтобы вы
подтвердили право собственности с помощью своего адреса электронной почты. {% endblocktrans %}</p>

<p class="home-text">{% blocktrans %}Мы отправили вам электронное письмо для
подтверждения. Пожалуйста, нажмите на ссылку внутри этого электронного письма. Пожалуйста
, свяжитесь с нами, если вы не получите его в течение нескольких минут.{% endblocktrans %}</p>

<p class="home-text">{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">Изменить электронную почту
        address</a>.{% endblocktrans %}</p>


{% endblock %}